/* COLORS */

$accents1: #fafafa;
$accents2: #eaeaea;
$accents3: #999;
$accents4: #888;
$accents5: #666;
$accents6: #444;
$accents7: #333;
$accents8: #111;

$fg: #000;
$bg: #fff;

/* SIZES */

$headerHeight: 80px;

$spaceGap: 24px;
$gap: $spaceGap;

$pageWidthWithMargin: 1048px;
$pageMargin: $spaceGap;
$pageWidth: 1000px;
