@import "_variables";

/* $socialColors: (
  "twitter": #2aa3f0,
  "facebook": #3b5998,
  "instagram": #f83f5a,
  "vimeo": #1ab7ea,
  "youtube": #fc0d1c,
  "linkedin": #2b66bc,
); */

.main {
  //background: #fff;
  min-height: 100vh;
  position: relative;
  height: 100%;
}

.page {
  background: $accents1;
  min-height: calc(100vh - 84px);
}

// TODO: move all below to globals/"Container" component or such..?

.wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: $pageWidthWithMargin;
  padding-left: $pageMargin;
  padding-right: $pageMargin;

  &.full {
    width: calc(100vw - (100vw - 100%));
    padding-left: 0;
    padding-right: 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 1px;
  max-width: 100%;

  // TODO: use variables if using Container class, instead of defining lol
  --flex: 1;
  --justify-content: flex-start;
  --align-items: stretch;

  flex: var(--flex);
  justify-content: var(--justify-content);
  align-items: var(--align-items);
}
